body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('img/frentebora.jpeg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: fixed;
    
}

header {
    text-align: center;
    padding: 40px 10px;
    background: rgba(0, 0, 0, 0.5);
}

header img {
    max-width: 130px;
}

header .intro {
    color: #fff;
}

header h1 {
    font-size: 28px;
    margin: 10px 0;
}

header p {
    font-size: 19px;
    margin: 5px 0;
}

ul.menu {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
    text-align: center;
    
}

ul.menu li {
    margin: 5px 0;
}

ul.menu li a {
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    background: #f39c12;
    border-radius: 5px;
    display: inline-block; /* Muda para inline-block para controlar a largura */
    width: 80%; /* Ajuste a largura para 80% */
    max-width: 300px; /* Limita a largura máxima para evitar que fiquem muito grandes em telas maiores */
}

ul.menu li a:hover {
    background: #e67e22;
}



.units-section {
    display: none; /* Escondido por padrão */
    margin: 20px 10px;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    text-align: center;
    z-index: 3;
}

.units-section h2 {
    font-size: 24px;
    color: #fff;
    margin-bottom: 15px;
}

.unit a {
    font-size: 18px; /* Aumenta o tamanho da fonte */
    font-weight: bold; /* Torna o texto em negrito */
    color: #ffc107; /* Cor destacada */
    text-decoration: none;
}

.unit a:hover {
    text-decoration: underline;
    color: #ffd54f; /* Cor diferente ao passar o mouse */
}

.brands-section {
    margin: 20px 10px;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    text-align: center;
    z-index: 3;
}

.brands-section h2 {
    font-size: 24px;
    color: #fff;
    margin-bottom: 15px;
}

.brands-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.brand {
    max-width: 200px;
}

.brand img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.brand p {
    margin-top: 10px;
    color: #fff;
    font-size: 16px;
}

/* Estilos específicos para dispositivos móveis */

    


.footer {
    text-align: center;
    padding: 20px;
    background-color: rgba(51, 51, 51, 0.8);
    color: white;
    position: relative;
    z-index: 1;
}

.footer-logo {
    max-width: 80px;
    margin-bottom: 10px;
}

.footer p {
    margin: 5px 0;
}

/* Estilos específicos para dispositivos móveis */
@media screen and (max-width: 600px) {
    header {
        padding: 30px 10px;
    }

    header h1 {
        font-size: 24px;
    }

    header p {
        font-size: 17px;
    }

    ul.menu li {
        margin: 3px 0;
    }

    ul.menu li a {
        font-size: 14px;
        padding: 8px 15px;
        width: 90%;
    }

    .units-section {
        margin: 15px 10px;
        padding: 10px;
        
    }

    .units-section h2 {
        font-size: 20px;
    }

    .unit a {
        font-size: 16px;
    }

    .brands-section {
        margin: 15px 10px;
        padding: 10px;
    }

    .brands-section h2 {
        font-size: 20px;
    }

    .brand p {
        font-size: 14px;
    }
}
