body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('https://img.freepik.com/vetores-premium/fundo-de-espuma-e-bolhas-de-cerveja_186921-100.jpg'); /* Substitua pelo caminho correto */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #333;
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
}

header {
    position: relative;
    padding: 20px;
    background-image: url('img/frentebora.jpeg'); /* Caminho da imagem de fundo */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
}

header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.logo {
    position: relative;
    z-index: 2;
    max-width: 150px;
    height: auto;
}

.menu {
    position: relative;
    z-index: 2;
    margin-top: 20px;
}

.button {
    display: block;
    margin: 10px auto;
    padding: 15px 20px;
    border-radius: 50px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    width: 80%;
    box-sizing: border-box;
}

.whatsapp {
    background-color: #25D366;
}

.instagram {
    background-color: #C13584;
}

.units {
    background-color: #FFD700;
    color: #000;
}

.facebook {
    background-color: #4267B2;
}

.units-section {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    display: none; /* Escondido por padrão */
    position: relative;
    z-index: 2;
    width: 100%;
    margin-top: 20px; /* Distância entre o menu e as unidades */
}

.units-section h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #000;
}

.unit {
    margin: 10px 0;
}

.unit a {
    text-decoration: none;
    font-size: 18px;
    color: #000;
    background-color: #FFD700;
    padding: 10px 15px;
    border-radius: 50px;
    display: inline-block;
    width: 80%;
}

.brands {
    padding: 5px;
    background-image: url('https://img.freepik.com/vetores-premium/fundo-de-espuma-e-bolhas-de-cerveja_186921-100.jpg'); /* Substitua 'background.jpg' pelo caminho da sua imagem */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.8); /* Transparência para a imagem de fundo */
    z-index: 2;
    position: relative;
    width: 100%;
    margin-top: 15px; /* Espaçamento entre as marcas e o menu */
    border-radius: 10px;
}

.brand {
    text-align: center;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.9); /* Fundo branco com leve transparência */
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.brand-logo {
    max-width: 100px;
    margin-bottom: 15px;
}

.brand-info h3 {
    margin: 0;
    font-size: 22px;
    color: #000;
}

.brand-info p {
    margin: 5px 0 0;
    font-size: 16px;
    color: #555;
}